In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup as BS
from IPython.core.display import HTML
import re
from string import Template
from tqdm.notebook import tqdm
import time

2. Once you have working code for Tennessee's 2nd District, expand on your code to capture all of Tennessee's districts.

In [2]:
#loop to get a list of strings for the districts. using zfill to back fill 1-9 Thanks Veronica!
#districts = []
#for district in range(1,10):
#    district = ('TN' + str(district).zfill(2)) 
#    districts.append(district)

In [3]:
#URL = "https://www.opensecrets.org/races/summary?cycle=2020&id={}&spec=N."

#for district in districts:
#    print(URL.format(district))
#  #  URLs.append(URL)

In [4]:
#to change URL for scraping all of TN's districts
#TN = pd.DataFrame()
#for district in district:
#    URL = f"https://www.opensecrets.org/races/summary?cycle=2020&id={}&spec=N."

#URLs = []
#for district in districts:
#    URLs =URL.format(district)
  #  URLs.append(URL)

In [ ]:
#Dictionary for TN and it's number of districts
# I went a different direction here with a dictionary instead of a list because
# it seemed to be more transferable to the next problem when we include all states
TN_dict = {'TN': 9}

In [ ]:
#use dictionary  to generate a list of URLs of all the states and their districts. 
def generate_URL(TN):
    """Incorporates the dictionary of states and districts into the URL to scrape the data"""
    #initialize an empty list to fill with the URLs
    URL_list = []
    
    for i in range(1, TN_dict[TN] + 1):
        URL = "https://www.opensecrets.org/races/summary?cycle=2020&id=" + TN + str(i).zfill(2) + "&spec=N"
        URL_list.append(URL)
    return URL_list

In [ ]:
#initiate empty list to fill with TN district info
TN_all_df = []
for state in tqdm(TN_dict):
    URL_list = generate_URL(state)

#scrapes the data from the list of URLs and creates a data fram 
    for URL in URL_list:
        time.sleep(0.1)
        opensecrets = requests.get(URL)
        opensecrets_df = pd.read_html(opensecrets.text)
        opensecrets_df = opensecrets_df[0]
        opensecrets_df['state'] = re.findall(r"\b[A-Z]{2}\d{2}", URL)[0]
        TN_all_df.append(df)


TN_all_concat_df = pd.concat(TN_all_df)

In [ ]:
#regex for candidate, incumbent, party, and winner
candidate = r"(\w+\s\w+)"
incumbent = "Incumbent"
party = r"(\W\w\W)"
winner = "Winner"

#create dictionaries for columns with multiple info in them (candidate name has party, and  )
columns_extract= {'Candidate_name': candidate,'Party':party}
columns_contains = {'Incumbent':incumbent, 'Winner':winner}

#creates columns for party, incumbent, and winner and extracts the info from the candidate column
#incorporate this in to the code above to get other columns
for key, value in columns_extract.items():
    TN_all_concat_df[key] = TN_all_concat_df['Candidate'].str.extract(value, expand=True)
    for key, value in columns_contains.items():
        TN_all_concat_df[key] = TN_all_concat_df['Candidate'].str.contains(value)

TN_all_concat_df = TN_all_concat_df[['Candidate_name', 
                                     'Party', 
                                     'Incumbent', 
                                     'Winner', 
                                     'Raised', 
                                     'Spent', 
                                     'Cash on Hand',
                                    'state']]

In [4]:
#convert object types to int
TN_all_concat_df['Raised'] = TN_all_concat_df['Raised'].str.replace('\W', '')
TN_all_concat_df['Spent'] = TN_all_concat_df['Spent'].str.replace('\W', '')
TN_all_concat_df['Cash on Hand'] = TN_all_concat_df['Cash on Hand'].str.replace('\W', '')
TN_all_concat_df['Raised'] = TN_all_concat_df['Raised'].astype(int)
TN_all_concat_df['Spent'] = TN_all_concat_df['Spent'].astype(int)
TN_all_concat_df['Cash on Hand'] = TN_all_concat_df['Cash on Hand'].astype(int)

#TN_all_concat_df.to_csv('../webscraping_open_secrets-purple-pumas-2/data/TN_all_district.csv', index = 0)

  0%|          | 0/1 [00:00<?, ?it/s]

<ipython-input-4-84b473022a8a>:60: FutureWarning: The default value of regex will change from True to False in a future version.
  TN_all_concat_df['Raised'] = TN_all_concat_df['Raised'].str.replace('\W', '')
<ipython-input-4-84b473022a8a>:61: FutureWarning: The default value of regex will change from True to False in a future version.
  TN_all_concat_df['Spent'] = TN_all_concat_df['Spent'].str.replace('\W', '')
<ipython-input-4-84b473022a8a>:62: FutureWarning: The default value of regex will change from True to False in a future version.
  TN_all_concat_df['Cash on Hand'] = TN_all_concat_df['Cash on Hand'].str.replace('\W', '')

In [3]:
TN_all_concat_df

,Candidate_name,Party,Incumbent,Winner,Raised,Spent,Cash on Hand,state
0,Diana Harshbarger,(R),False,True,2126946,1869100,257846,TN01
1,Blair Nicole,(D),False,False,140209,134995,5215,TN01
0,Tim Burchett,(R),True,True,1336276,878488,593678,TN02
1,Renee Hoyos,(D),False,False,812784,816793,210,TN02
0,Chuck Fleischmann,(R),True,True,1051653,381411,1880341,TN03
1,Meg Gorman,(D),False,False,85843,77760,8083,TN03
0,Scott Desjarlais,(R),True,True,331464,392499,302649,TN04
1,Christopher Hale,(D),False,False,308731,302996,5735,TN04
0,Jim Cooper,(D),True,True,936569,1332131,272934,TN05
0,John Rose,(R),True,True,1050429,625688,454375,TN06
0,Mark Green,(R),True,True,1194960,935487,287889,TN07
1,Kiran Sreepada,(D),False,False,206644,207191,0,TN07
2,Ronald Brown,(I),False,False,1750,0,9006,TN07
3,Scott Vieira,(I),False,False,655,1049,197,TN07
0,David Kustoff,(R),True,True,1641217,999285,713832,TN08
1,Erika Stotts,(D),False,False,19070,15883,4137,TN08
0,Steve Cohen,(D),True,True,607570,457311,1216119,TN09
1,Charlotte Bergmann,(R),False,False,99147,100532,2566,TN09
2,Dennis Clark,(I),False,False,9991,9919,40,TN09