In [1]:
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd
import re

In [18]:
url = 'https://www.opensecrets.org/races/summary?cycle=2020&id=TN02&spec=N'
response = requests.get(url)
soup = bs(response.text, 'html.parser')
table = soup.findAll('table')[0]
district_df = pd.read_html(str(table))[0]

In [19]:
district['Name'] = district_df['Candidate'].str.extract(r'([A-Za-z]+\s[A-Za-z]+)')
district['Party'] = district_df['Candidate'].str.extract(r'(\((\w{1})\))')[1]
district['State'] = re.search(r'(id=)(\w{2})', url)[2]
district['District'] = re.search(r'(id=\w{2})(\d{2})', url)[2]
district['Incumbent'] = district_df['Candidate'].str.extract(r'(Incumbent)')
district['Winner'] = district_df['Candidate'].str.extract(r'(Winner)')
district = district.replace(('Incumbent', 'Winner'), ('Yes', 'Yes'))
district = district.fillna('No')
tn_02 = district[['Name', 'Party', 'State', 'District', 'Incumbent', 'Winner', 'Raised', 'Spent']]
tn_02[tn_02.columns[6:]] = tn_02[tn_02.columns[6:]].replace('[\$,]', '', regex=True).astype(float)

C:\Users\vredd\anaconda3\lib\site-packages\pandas\core\frame.py:3191: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [20]:
tn_02

           Name Party State District Incumbent Winner     Raised     Spent
0  Tim Burchett     R    TN       02       Yes    Yes  1336276.0  878488.0
1   Renee Hoyos     D    TN       02        No     No   812784.0  816793.0

In [21]:
district_df

,Candidate,Raised,Spent,Cash on Hand,Last Report
0,Tim Burchett (R) • Incumbent • Winner,"$1,336,276","$878,488","$593,678",12/31/2020
1,Renee Hoyos (D),"$812,784","$816,793",$210,12/31/2020